---
---

@import "{{ site.theme }}";

.box {
   //background-image: url(../Images/icons/Pencil-48.png);
   //background-position: 9px 0px;
   //background-repeat: no-repeat;
   line-height: 18px;
   overflow: hidden;
   padding: 15px 30px;
}

.note {
    background-color: #f0f7fb;
   	border-left: solid 4px #3498db;
}
.warning {
	background-color: #fbf0f0;
   	border-left: solid 4px #db3434;
}

.todo {
	background-color: #fbf7f0;
   	border-left: solid 4px #db9834;
}
